.NavItems{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
}

@media(min-width:450px){
    .NavItems{
        flex-flow: row;
    }
}